{% extends "admin/layout_admin.html" %}
{% block body %}
    <div class="container-fluid">
        {% if articles_commande %}
            <h3>Recapitulatifs de la commande selectionnée</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr><th>Nom</th><th>Quantite</th><th>Prix</th><th>Prix total</th></tr>
                </thead>
                <tbody>
                    {% for ligne in articles_commande %}
                         <tr>
                            <td>{{ ligne.nom_gant }}</td>
                            <td>{{ ligne.quantite }}</td>
                            <td>{{ ligne.prix }} €</td>
                            <td>{{ ligne.prix*ligne.quantite }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
                <div style="color: brown">
                <strong>adresse livraison : </strong>{{ adresse_livraison.nom }} ({{ adresse_livraison.code_postal }})
                {{ adresse_livraison.ville }} - {{ adresse_livraison.rue }}
                <br>
                <strong>adresse facturation : </strong>
                {{ adresse_facturation.nom }} ({{ adresse_facturation.code_postal }})
                {{ adresse_facturation.ville }} - {{ adresse_facturation.rue }} {% if adresse_facturation.id_adresse == adresse_livraison.id_adresse %} (identique) {% endif %}
                </div>
            {% if articles_commande[0].id_etat == 1 %}
                <form action="/admin/commande/valider"  style="display: inline-block;"  method="post">
                    <input type="hidden" name="idCommande" value="{{ articles_commande[0].id }}">
                    <button class="btn btn-primary">Valider (Expédier)</button>
                </form>
            {% endif %}
            <hr>
        {% endif %}

        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Toutes les commandes</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>login client</th>
                                <th>Date de commande</th>
                                <th>Nombre d'articles</th>
                                <th>Coût total</th>
                                <th>Etat de la commande</th>
                                <th style="text-align: center;">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}
                            <tr id="" {% if commande.id_etat == 1 %} class="table-warning" style="font-weight: bold;"{% endif %}>
                                {% set id_recherche = commande.id_utilisateur %}
                                {% set login_resultat = None %}
                                {% set login_resultat = users[id_recherche - 1]['login'] %}
                                <td>{{ login_resultat }}</td>
                                <td>{{ commande.date_achat.strftime('%d-%m-%Y') }}</td>
                                <td>{{ commande.nbr_articles }}</td>
                                <td>{{ "{:.2f}".format(commande.prix_total*commande.nbr_articles) }} €</td>
                                <td>{{ "en cours de traitement" if commande.id_etat == 1 else "expédié" }}</td>
                                <td style="text-align: center;">
                                    {% if commande.id_etat == 1 %}<form action="/admin/commande/valider" style="display: inline-block;"  method="post">
                                        <input type="hidden" name="id_commande" value="{{ commande.id_commande }}">
                                        <button class="btn btn-success" > Valider (Expédier) </button>
                                    </form>{% endif %}
                                    <a href="/admin/commande/show?id_commande={{ commande.id_commande }}">
                                        <button class="btn btn-primary">Détails</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
